<div xmlns="http://www.w3.org/1999/html">
    <p>Bonjour,  {{manager.lastName}} {{manager.firstName}}</p>
    <p>
        Veuillez trouvez ci-join un rapport détailé des résultats du candidat:
    </p>
    <p><span>Nom: {{ candidat.lastName }}<strong></strong></span></p>
    <p>    <span>Prénom: {{ candidat.firstName }} <strong></strong></span></p>
    <p>   <span>Email: {{ candidat.email }}<strong></strong></span></p>

    <p>L’équipe Clevermind.</p>
</div>
