<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')}}" rel="stylesheet"/>
    	<link href="{{asset('https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">

    		{% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                		<div class="{{ type ? type : '' }}">
                    	    {{ message|trans({}, domain|default('messages')) }}
                		</div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        	<script src="{{asset('//code.jquery.com/jquery-1.12.4.js')}}"></script>
			<script src="{{asset('//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')}}"></script>
			<script src="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
