    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{asset('images/clevermind/favicon.png')}}" rel="shortcut icon">
        <title>{% block title %}{% endblock title %}</title>
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet"/>
        <link href="{{asset('css/style.css')}}" rel="stylesheet"/>
        <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet"/>
        <link href="{{asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')}}" rel="stylesheet"/>
        <link href="{{asset('https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css')}}" rel="stylesheet"/>
<style>body{margin-top:25px;}
    .glyphicon { margin-right:10px; }
    .panel-body { padding:0px; }
    .panel-body table tr td { padding-left: 15px }
    .panel-body .table {margin-bottom: 0px; }
    .panel-default>.panel-heading {background-color: #fab39c70;}
    .header-container {margin-left: 30px;}
    .maxWith60 { max-width: 60%;}



</style>
    </head>
    <body>
    {% block header %}
        {% include "header.html.twig" %}
    {% endblock header %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    <div class="container-fluid">



        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}
            {% if linkEvaluationListingOn is defined or linkEvaluationAddOn is defined or linkEvaluationEditOn is defined %}
                {% set manageEvaluation = true %}
            {% endif %}
            {% if linkUserListingOn is defined or linkUserAddOn is defined or linkUserEditOn is defined or  linkUserEditOn is defined or linkUserViewOn is defined %}
                {% set manageUser = true %}
            {% endif %}
            {% if linkQuestionResponseListingOn is defined or linkquestionResponseAddOn is defined or linkquestionResponseEditOn is defined or linkQuestionResponseDetailOn is defined %}
                {% set manageQuestionResponse = true %}
            {% endif %}
            {% if linkCandidatListingOn is defined or linkCandidatAddOn is defined or linkCandidatEditOn is defined or linkCandidatViewOn is defined%}
                {% set manageCandidat = true %}
            {% endif %}

            {% if linkTopicListingOn is defined or linkTopicAddOn is defined or linkTopicEditOn is defined %}
                {% set manageTopic = true %}
            {% endif %}
        <div class="col-xs-3">
            <div class="row">
                <div class="col-sm-9 col-md-9">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="{% if manageEvaluation is defined %}bold-text active{% endif %}" {% if manageEvaluation is defined %}aria-expanded="true"{% endif %}>
                                        <span class="glyphicon glyphicon-list-alt text-info">
                                         </span>Evaluations
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse {% if manageEvaluation is defined %}in{% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-file text-info btn-xs"></span>
                                                <a href="{{ path('evaluation_index')}}" class="{% if linkEvaluationListingOn is defined %}bold-text{% endif %}">Liste</a>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="{{ path('evaluation_add')}}" class="{% if linkEvaluationAddOn is defined %}bold-text{% endif %}">Ajout</a>
                                                {#<span class="badge">42</span>#}
                                            </td>
                                        </tr>
                                        {% if linkEvaluationEditOn is defined %}
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="{{ path('evaluation_edit', { 'id': evaluation.id }) }}" class="{% if linkEvaluationEditOn is defined %}bold-text{% endif %}">Edition</a>
                                                {#<span class="badge">42</span>#}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="{% if manageUser is defined %}bold-text active{% endif %}"  {% if manageUser is defined %}aria-expanded="true"{% endif %}>
                                        <span class="glyphicon glyphicon-user text-info">
                            </span>Utilisateurs</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse  {% if manageUser is defined %}in{% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-file text-info btn-xs"></span>
                                                <a href="{{ path('user_list') }}" class="{% if linkUserListingOn is defined %}bold-text{% endif %}">Liste</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="{{ path('user_add') }}" class="{% if linkUserAddOn is defined %}bold-text{% endif %}">Ajout</a>
                                            </td>
                                        </tr>
                                        {% if linkUserEditOn is defined %}
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-info btn-xs"></span>
                                                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="{% if linkUserEditOn is defined %}bold-text{% endif %}">Edition</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if linkUserViewOn is defined %}
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-th text-info btn-xs"></span>
                                                    <a href="{{ path('user_view', { 'id': user.id }) }}" class="{% if linkUserViewOn is defined %}bold-text{% endif %}">Détail</a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="{% if manageQuestionResponse is defined %}bold-text active{% endif %}" {% if manageQuestionResponse is defined %}aria-expanded="true"{% endif %}>
                                        <span class="glyphicon glyphicon-book text-info">
                            </span>Questions</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse {% if manageQuestionResponse is defined %}in{% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td> <span class="glyphicon glyphicon-file text-info btn-xs"></span>
                                                <a href="{{ path('question_index') }}" class="{% if linkQuestionResponseListingOn is defined %}bold-text{% endif %}">
                                                    Liste
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="{{path('question_add')}}" class="{% if linkquestionResponseAddOn is defined %}bold-text{% endif %}">Ajout</a>
                                            </td>
                                        </tr>
                                        {% if linkquestionResponseEditOn is defined %}
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-pencil text-info btn-xs"></span>
                                                <a href="{{ path('question_edit', { 'id': question.id }) }}" class="{% if linkquestionResponseEditOn is defined %}bold-text{% endif %}">Edition</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% if linkQuestionResponseDetailOn is defined %}
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-th text-info btn-xs"></span>
                                                <a href="{{ path('question_view', { 'id': question.id }) }}" class="{% if linkQuestionResponseDetailOn is defined %}bold-text{% endif %}">Détail</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="{% if manageCandidat is defined %}bold-text active{% endif %}" {% if manageCandidat is defined %}aria-expanded="true"{% endif %}>
                                        <span class="glyphicon glyphicon-education text-info">
                            </span>Candidats</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse  {% if manageCandidat is defined %}in{% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-file text-info btn-xs"></span>
                                                <a href="{{ path('candidate_index') }}" class="{% if linkCandidatListingOn is defined %}bold-text active{% endif %}">
                                                    Liste
                                                </a>
                                            </td>
                                        </tr>
                                        {% if linkCandidatAddOn is defined %}
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="#" class="{% if linkCandidatAddOn is defined %}bold-text{% endif %}" style="pointer-events: none;
  cursor: default;">
                                                    Ajout
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% if linkCandidatEditOn is defined %}
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-info btn-xs"></span>
                                                    <a href="{{ path('candidate_edit' , { 'id': candidate.id })}}" class="{% if linkCandidatEditOn is defined %}bold-text{% endif %}">
                                                        Edition
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if linkCandidatViewOn is defined %}
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-info btn-xs"></span>
                                                    <a href="{{ path('candidate_view' , { 'id': candidate.id })}}" class="{% if linkCandidatViewOn is defined %}bold-text{% endif %}">
                                                        Détail
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="{% if manageTopic is defined %}bold-text{% endif %}"  {% if manageTopic is defined %}aria-expanded="true"{% endif %}>
                                        <span class="glyphicon glyphicon-cog text-info">
                            </span>Thèmes</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse {% if manageTopic is defined %}in{% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-file text-info btn-xs"></span>
                                                <a href="{{ path('topic_list') }}" class="{% if linkTopicListingOn is defined %}bold-text{% endif %}">Liste</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-plus text-info btn-xs"></span>
                                                <a href="{{ path('create_topic') }}"  class="{% if linkTopicAddOn is defined %}bold-text{% endif %}">Ajout</a>
                                            </td>
                                        </tr>
                                        {% if linkTopicEditOn is defined %}
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-info btn-xs"></span>
                                                    <a href="{{ path('edit_topic', { 'id': topic.id }) }}" class="{% if linkTopicEditOn is defined %}bold-text{% endif %}">Edition</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endblock content %}
    </div>
    {% block javascripts %}

    <script src="{{asset('js/libs/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
    $('document').ready(function(){
        var allItems = $('.list-group-item-success'),
            allISubtems = $('.list-group-item');

        $('.list-group-item').on('click', function(e){
            //e.preventDefault();
            allISubtems.removeClass('bold-text');
            $(this).addClass('bold-text');
        });

            $('.list-group-item-success').on('click', function(e){
              //e.preventDefault();
                allItems.removeClass('active')
                $(this).addClass('active');
                $(this).next('div').find('a:first').addClass('bold-text');
            });


    })

    </script>
    {% endblock javascripts %}
    </body>
    </html>
