<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="{{asset('images/clevermind/favicon.png')}}" rel="shortcut icon">
    <meta charset="UTF-8" />
    <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/style.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/inc/TimeCircles.css')}}" rel="stylesheet"/>
 

</head>

<BODY>

{% block header %}
    {% include "header.html.twig" %}
{% endblock header %}

<div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% block content %}
    {% endblock %}
</div>
{% block js %}
    <script src="{{asset('js/libs/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('js/libs/jquery-ui.min.js')}}"></script>
    <script src="{{asset('js/libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
     <script src="{{asset('js/libs/inc/TimeCircles.js')}}"></script>
{% endblock js %}
</body>
</html>
