<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <link href="{{asset('images/clevermind/favicon.png')}}" rel="shortcut icon">
    <title>CLEVERTEST</title>
    <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/style.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet"/>

</head>
<body>
{% block header %}
    {% include "header.html.twig" %}
{% endblock header %}
{% block fos_user_content %}
{% endblock fos_user_content %}
<div class="container">
    {% block content %}
        <div class="col-xs-3 wellBg borderTop">
            {% if is_granted("IS_AUTHENTICATED_FULLY")  %}
                {% if is_granted('ROLE_ADMIN')  %}
                    <div class="marginleft">
                        <div id="MainMenu">
                            <div class="list-group panel">
                                <a href="#evaluation-item" class="list-group-item list-group-item-success {% if evaluationListActivate is defined %}active{% endif %}" data-toggle="collapse" data-parent="#MainMenu" {% if evaluationListActivate is defined %}aria-exponded=true{% endif %}>
                                Gestion des évaluations<i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="evaluation-item">
                                    <a href="{{ path('evaluation_index')}}" class="list-group-item {% if evaluationListActivate is defined %}bold-text{% endif %}" data-toggle="collapse {% if evaluationListActivate is defined %}in{% endif %}" data-parent="#SubMenu1">
                                        Liste des évaluations
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">
                                        Ajouter une évaluation
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </div>

                                <a href="#user-item" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
                                Gestion des utilisateurs<i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="user-item">
                                    <a href="" class="list-group-item">Liste des utilisateurs</a>
                                    <a href="" class="list-group-item">Ajouter un nouveau utilisateur</a>
                                </div>

                                <a href="#question-item" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
                                Gestion des Question/réponses<i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="question-item">
                                    <a href="" class="list-group-item">Liste des questions</a>
                                    <a href="" class="list-group-item">Ajouter une question</a>
                                </div>

                                <a href="#candidat-item" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
                                Gestion des candidats<i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="candidat-item">
                                    <a href="" class="list-group-item">Liste des candidats</a>
                                    <a href="" class="list-group-item">Ajouter un candidat</a>
                                </div>

                                <a href="#theme-item" class="list-group-item list-group-item-success {% if topicListActivate is defined %}active{% endif %}" data-toggle="collapse" data-parent="#MainMenu" {% if topicListActivate is defined %}aria-exponded=true{% endif %}>
                                Gestion des themes<i class="fa fa-caret-down"></i></a>
                                <div class="collapse {% if topicListActivate is defined %}in{% endif %} " id="theme-item">
                                    <a href="" class="list-group-item {% if topicListActivate is defined %}bold-text{% endif %}">Liste des Thèmes</a>
                                    <a href="" class="list-group-item">Ajouter un nouveau Thème </a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
</div>
{% block js %}
    <script src="{{asset('js/libs/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('js/libs/jquery-ui.min.js')}}"></script>

    <script src="{{asset('js/libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
    $('document').ready(function(){
        var allItems = $('.list-group-item-success'),
            allISubtems = $('.list-group-item');
      
        $('.list-group-item').on('click', function(){
            allISubtems.removeClass('bold-text');
            $(this).addClass('bold-text');
        });

          $('.list-group-item-success').on('click', function(){
            allItems.removeClass('active')
            $(this).addClass('active');
            $(this).next('div').find('a:first').addClass('bold-text');
        });
    })    

    </script>
{% endblock js %}
</body>
</html>
