{{ form_start(formChangePassword, {'attr': {'class': 'form', 'id': 'jqChangePassword'}}) }}
    <div class="row">
         <div class="col-sm-5 col-sm-offset-3">
             <div class="form-group has-feedback">
                 {{ form_errors(formChangePassword.current_password) }}
                 <div class="form_row">
                     {{ form_label(formChangePassword.current_password) }}
                     {{ form_widget(formChangePassword.current_password, {'attr': {'class': 'form-control'}}) }}
                 </div>
             </div>
         </div>      
    </div> 
        
    <div class="row">
         <div class="col-sm-5 col-sm-offset-3">
             <div class="form-group has-feedback">
                 {{ form_errors(formChangePassword.plainPassword.first) }}
                 <div class="form_row">
                     {{ form_label(formChangePassword.plainPassword.first) }}
                     {{ form_widget(formChangePassword.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                 </div>
             </div>
         </div>      
    </div>
    <div class="row">
         <div class="col-sm-5 col-sm-offset-3">
             <div class="form-group has-feedback">
                 {{ form_errors(formChangePassword.plainPassword.second) }}
                 <div class="form_row">
                     {{ form_label(formChangePassword.plainPassword.second) }}
                     {{ form_widget(formChangePassword.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                 </div>
             </div>
         </div>      
    </div> 
    {{ form_rest(formChangePassword) }}
    <button id="button_save" type="submit" class="btn btn-info" data-loading-text="">
        Modifier le mot de passe <i class="fa fa-edit"></i>
    </button>
{{ form_end(formChangePassword) }}