{% extends "::base.html.twig" %}

{% block title %}Liste des candidats{% endblock %}

{% block body %}
<h1>Liste des candidats</h1>

    <table id="candidate_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
  
        {% if candidatesList|length > 0 %}     
            <tbody>
        
            {% for candidate in candidatesList %}
            <tr>
                <td>
                    <a href="{{ path('user_view', { 'id': candidate.id }) }}">
                        {{ candidate.firstName }}
                    </a>
                </td>        
                <td>{{ candidate.lastName }}</td>
                <td>{{ candidate.email }}</td>
                <td>{% if candidate.enabled %} Actif {% else %} Inactif {% endif %} </td>
                <td>
                    <a href="{{ path('candidate_edit', { 'id': candidate.id }) }}" class="btn btn-link " title="Editer ce candidat">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>&nbsp;&nbsp;
                    
                    <a data-confirm="Etes-vous certain de vouloir supprimer ce candidat?" href="{{ path('candidate_delete', { 'id': candidate.id }) }}" title="Supprimer ce candidat" >
                    	<i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
        {% endif %}
    </table>

{% endblock %}

{% block javascripts %}
    {{parent()}}
	<script type="text/javascript">
		$(document).ready(function() {
    	$('#candidate_list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
    		"pageLength": 10,
    		"columnDefs": [
                {
                    "targets": [ 4 ],
                    "orderable": false,
                    "searchable": false
                }
            ]
        });
	});
</script>
{% endblock %}