{% extends "::layoutBack.html.twig" %}
{% block title %}Informations du candidat{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="well col-xs-9">
    <table>
        <tr>
            <td>Prénom : </td>
            <td>{{ candidate.firstName }}</td>
        </tr>
        <tr>
            <td>Nom :</td>
            <td>{{ candidate.lastname }}</td>
        </tr>

        <tr>
            <td>Email :</td>
            <td>{{ candidate.email }}</td>
        </tr>
    </table>
    
    <hr />
    <a href="{{ path('candidate_index') }}">
        Retour à la liste
    </a>
{% endblock %}