{% extends "::base.html.twig" %}

{% block title %}Modification de la question{% endblock %}

{% block body %}

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {# render the task's only field: description #}
        <div class="form-group">
            {{ form_label(form.content, "Enoncé", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.content) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">

            {{ form_label(form.duration, "Durée", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.duration) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">

            {{ form_label(form.level, "Niveau", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.level) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.topic, "Thème", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.topic) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.topic, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <h3>Les responses :</h3>
        <ul class="responses" data-prototype="{{ form_widget(form.responses.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for response in form.responses %}
                <li>{{ form_row(response.content) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>

{% endblock %}