{% extends "::base.html.twig" %}

{% block title %}Liste des questions{% endblock %}

{% block body %}
<h1>Liste des questions</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Enoncé</th>
            <th>Niveau</th>
            <th>Thème</th>
            <th>Durée (en mn)</th>
            <th></th>
        </tr>
        </thead>
        {% if listQuestions|length > 0 %}
        <tbody>

        {% for question in listQuestions %}
        <tr>
            <th scope="row"></th>
            <td>
                <a href="{{ path('question_view', { 'id': question.id }) }}">
                    {{ question.content }}
                </a>
            </td>
            <td>{{ question.level.name }}</td>
            <td>{{ question.topic.name }}</td>
            <td>{{ question.duration }}</td>
            <td>
                <a href="{{ path('question_edit', { 'id': question.id }) }}">
                    <img src="{{asset('images/clevermind/edit.png')}}" class="img-responsive"/>
                </a>
                <a href="{{ path('question_delete', { 'id': question.id }) }}">
                    <img src="{{asset('images/clevermind/drop.png')}}" class="img-responsive"/>
                </a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
        {% endif %}
    </table>

{% endblock %}
