{% extends '::layoutBack.html.twig' %}
{% set title= ' ' %}
{% block header %}
    {{parent()}}
{% endblock%}
{% block content %}
     {{parent()}}
    <div class="col-xs-9 borderTop">
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>&nbsp;</th>
                    <th>Description</th>
                </tr>
                </thead>
               <tbody>
                {% for topic in topicList %}
                    <tr>
                        <td>{{topic.name}}</td>
                        <td>&nbsp;</td>
                        <td>{{topic.description}}</td>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ path('create_topic')}}" class="btn btn-primary">
                    Ajouter un nouveau thème
                </a>
            </div>
          </div>
        </div>
{% endblock %}
{% block js%}
    {{parent()}}
    <script src="{{asset('js/topic_list.js')}}"></script>
{% endblock %}

