{% extends "::layoutBack.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}


{% block content %}
    {{ parent() }}
<div class="col-xs-9">
    <table id="user_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
    			<th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Identifiant</th>            
                <th>Rôle</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
  
        {% if userList|length > 0 %}     
            <tbody>
        
            {% for user in userList %}
            <tr>
                <th scope="row"></th>
                <td>
                    <a href="{{ path('user_view', { 'id': user.id }) }}">
                        {{ user.firstName }}
                    </a>
                </td>        
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td> {{ user.username }}</td>
                <td> {{ user.username }}</td>
                <td>{% if user.enabled %} Actif {% else %} Inactif {% endif %} </td>
                <td>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-link " title="Editer cet utilisateur">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>&nbsp;&nbsp;
                    
                    <a data-confirm="Etes-vous certain de vouloir supprimer cet utilisateur?" href="{{ path('user_delete', { 'id': user.id }) }}" title="Supprimer cet utilisateur" >
                    	<i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        
            </tbody>
        {% endif %}
    </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
	<script type="text/javascript">
		$(document).ready(function() {
    	$('#user_list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
    		"pageLength": 10,
    		"columnDefs": [
                {
                    "targets": [ 7 ],
                    "orderable": false,
                    "searchable": false
                }
            ]
        });
	});
</script>
{% endblock %}