{% extends "::base.html.twig" %}

{% block title %}Création du test{% endblock %}

{% block body %}
    <h1>Welcome to the Test:index page</h1>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
            <div class="form-group">

                {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                {{ form_errors(form.title) }}

                <div class="col-sm-3">
                    {# Génération de l'input. #}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="form-group">

                {{ form_label(form.status, null, {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                {{ form_errors(form.status) }}

                <div class="col-sm-3">
                    {# Génération de l'input. #}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="form-group">

                {{ form_label(form.difficulty, null, {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                {{ form_errors(form.difficulty) }}

                <div class="col-sm-3">
                    {# Génération de l'input. #}
                    {{ form_widget(form.difficulty, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <hr/>
            
            <table>
                <tr>
                {% for topic in form.topics %}
                    <td>
                        {{ form_widget(topic) }}  {{ form_label(topic) }}
                    </td>
                    <td>
                    	<input type="text" name="question_numbers[{{ topic.vars.value }}]" >
                    </td>
                    {% if loop.index % 2 == 0 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>

            <hr/>

            {% for user in form.candidates %}

                <div class="form-group">
                    {{ form_label(user.firstName, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(user.firstName) }}
                    <div class="col-sm-3">
                        {{ form_widget(user.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(user.lastName, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(user.lastName) }}
                    <div class="col-sm-3">
                        {{ form_widget(user.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(user.email, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(user.email) }}
                    <div class="col-sm-3">
                        {{ form_widget(user.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>


            {% endfor %}


            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


