{% extends "::layoutBack.html.twig" %}

{% block title %}Détail du test{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="col-xs-9">
    <table>
        <tr>
            <td>Titre :</td>
            <td>{{ evaluation.title }}</td>
        </tr>
        <tr>
            <td>Niveau :</td>
            <td>{{ evaluation.difficulty.name }}</td>
        </tr>
        <tr>
            <td>Etat :</td>
            <td>{{ evaluation.status.name}}</td>
        </tr>
        <tr>
            <td>Thèmes abordés :</td>
            <td>{{ evaluation.themes }}</td>
        </tr>
        <tr>
            <td>Date de création :</td>
            <td>{{ evaluation.createdDate|date("d/m/Y")}}</td>
        </tr>
        <tr>
            <td>Auteur :</td>
            <td>{{ evaluation.author.firstName }} {{ evaluation.author.lastName }}</td>
        </tr>
        <tr>
            <td>Nombre de Questions :</td>
            <td>{{ evaluation.questions.count }}</td>
        </tr>
        <tr>
            <td>Nombre de Candidats :</td>
            <td>{{ nbCandidates }}</td>
        </tr>
    </table>
    
    <br />
    <a href="{{ path('evaluation_index') }}" class="btn btn-warning" role="button" >Retour à la liste</a>
    
    <hr />
        
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    	<div class="form-group">

            {{ form_label(form.status, 'Changer le status', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
            {{ form_errors(form.status) }}

        	<div class="col-sm-3">
                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-3">
               {{ form_row(form.validate, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
        
    {{ form_end(form) }}

    <br>
    <p><b>Liste des questions:</b></p>
    <table id="evaluation_list" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Question</th>
                <th>Thème</th>
                <th>Niveau</th>
                <th>Durée</th>
            </tr>
        </thead>
        {% if not evaluation.questions.empty %}
            <tbody>
                {% for question in evaluation.questions %}
                    <tr>
                        <td>
                            <a href="{{ path('question_view', { 'id': question.id }) }}">
                                {{ question.content }}
                            </a>
                        </td>
                        <td>{{ question.topic.name }}</td>
                        <td>{{ question.level.name }}</td>
                        <td>{{ question.duration }}</td>
                    </tr>
                {% endfor %}
            <tbody>
        {% endif %}
    </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
	<script type="text/javascript">
		$(document).ready(function() {
    		$('#evaluation_list').DataTable({
	        	"order": [
		        	[ 1, "asc" ]
	        	]
		    });
		});
</script>
{% endblock %}